.header-container {
  min-width: 40px;
  min-height: 60px;
  background-image: url(../images/logo.png);
  background-position: 20px 10px;
  background-size: 20% 70%;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}
