.options-container {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "left"
    "."
    "right";
  border-top: 1px solid black;
}

.options-container__item_left {
  display: grid;
  grid-template-columns: 1.4fr 0.2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
  grid-area: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: start;
  font-size: 16px;
}
.options-container p {
  font-size: 18px;
}
.options-container__item_left,
.options-container__item_right div {
  padding-left: 10px;
}

.options-container__item_right {
  display: grid;
  grid-template-columns: 1.4fr 0.2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
  grid-area: right;
  border-top: 1px solid black;
  text-align: start;
  font-size: 16px;
}
